<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Transcritor Fonetico</title>
  </head>
  <body>
    <hr />
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h2>Mostrar pronuncia da palavra</h2>
        </div>
        <div class="card-body">
          <form method="POST" action="/text/save">
            <textarea
              name="text"
              id="texto"
              class="form-control"
              placeholder="digite o texto aqui"
            ></textarea>
            <br />
            <button type="submit" class="btn btn-success">
              Exibir Transcrição
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script src="/js/bootstrap.min.js"></script>
</html>
